/* Color variables */
$primary-color: #1460e3;
$primary-color2: #e31616;
$title-color: black;
$text-color: white;
$border-color: #201f1f17;
$hover-color: rgb(246, 176, 0);
$gradient-color: linear-gradient(90deg, #e31616 0%, #1460e3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.205);

/* Font variables */
@font-face {
  font-family: "Montserrat";
  src: url("/public/font/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/public/font/Montserrat/static/Montserrat-Bold.ttf");
}

$montserrat: "Montserrat", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;